html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('/images/greenhouseLandscape.jpg');
    background-size: cover;
    color: white;
    font-family: Merriweather;
    height: 100%;
    flex-wrap: wrap-reverse;
}

.contact a {
    color: white;
}

.image {
    width: 250px;
    height: 350px;
    background-color: red;
    padding: 45px;
    border-radius: 15px;
    background-image: url("images/whiteFlower.jpg");
    background-color: green;
    background-size: cover;
    animation: moveUp 0.4s ease-out;
    border: solid 5px;
}

.contactInfo {
    background-color: #FEFAE0;
    padding: 50px;
    border-radius: 15px;
}

.contactInfo h1 {
    animation: moveUp 0.4s ease-out;
}

.contact:nth-child(1) {
    animation: moveUp 0.4s ease-out;
}

.contact:nth-child(2) {
    animation: moveUp 0.5s ease-out;
}

.contact:nth-child(3) {
    animation: moveUp 0.6s ease-out;
}


.socialMediaList {
    display: flex;
    align-items: center;
    gap: 10px;
}

.socialMediaList a img:nth-child(1) {
    width: 50px;
}

.socialMediaList a img:nth-child(2) {
    width: 30px;
}

@keyframes moveUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}