nav {
    width: 100%;
    height: 50px;
    border-bottom: solid 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Poppins;
    position: fixed;
    z-index: 3;
    background-color: white;
    top: 0;
    backdrop-filter: blur;
    background: rgba( 255, 255, 255, 0.6 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
} 

.logo {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
}

 nav .logo img {
    width: 40px;
}

a {
    text-decoration: none;
    color: black;
}

.pages {
    display: flex;
    gap: 15px;
    padding-right: 10px;
}

.logo {
    padding-left: 10px;
}
    
.logo img {
    width: 100px;
}


nav a {
    padding: 5px;
}

nav a:nth-child(3) {
    color: green;
    border: solid 1px;
    padding: 4px;
    border-radius: 15px;
    transition: 0.3s;
}

nav a:nth-child(3):hover {
    background-color: green;
    color: white;
}

nav a:hover {
    color: green;
}


@media (max-width: 600px) {
    .logo p {
        display: none;
    }

    nav {
        font-size: 0.9rem;
    }
}

