@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cornsilk: #FEFAE0;
    --earth-yellow: #DDA15E;
    --tigers-eye: #BC6C25;
    --dark-moss-green: #606C38;
    --pakistan-green: #283618;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--cornsilk);
}



.plantGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    position: relative;
    top: 80px;
    row-gap: 10px;
    place-items: center;
    padding: 10px 0 120px 0;
    overflow: hidden;
}

.plant {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    transition: 300ms;
    cursor: pointer;
}

.menuIcon {
    width: 30px;
    margin-right: 15px;
    cursor: pointer;
    display: none;
}



.mobileNav {
    width: 100%;
    height: 200px;
    position: fixed;
    z-index: 4;
    background-color: red;
    top: 50px;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    gap: 15px;
    background-color: white;
    backdrop-filter: blur;
    background: rgba( 255, 255, 255, 0.6 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    justify-content: center;
    display: none;
}

.revealNav {
    display: flex;
}

.mobileNav a {
    border-bottom: solid 1px;
    width: 95%;
    margin: 0;
    padding: 0;
}

.plant:hover {
    background-color: var(--earth-yellow);
}

.plantImg {
    background-color: var(--pakistan-green);
    height: 400px;

}

.plantName {
    font-size: 1.2rem;
    color: var(--pakistan-green);
    font-weight: bold;
}

.plantImg {
    background-image: url("/images/capellaCoralPetunia.jpg");
    background-size: cover ;
}

.plant {
    font-family: Merriweather;
}

.plantInfo {
    font-style: italic;
}

.plantImg, .plantInfo, .plantName {
    width: 250px;
}

.plantInfo, .plantName {
    margin: 0;
}

.plant:nth-child(1) .plantImg {
    background-image: url("/images/capellaCoralPetunia.jpg");
}

.plant:nth-child(2) .plantImg {
    background-image: url("/images/yellowAndPurpleCalibroca.jpg");
}


.plant:nth-child(3) .plantImg {
    background-image: url("/images/neonPinkCalibrochoa.jpg");
}

.plant:nth-child(4) .plantImg {
    background-image: url("/images/whiteCalibroca.jpg");
}

.plant:nth-child(5) .plantImg {
    background-image: url("https://media.discordapp.net/attachments/1346506354629677169/1369687907765452850/IMG_5893.jpg?ex=681cc4c4&is=681b7344&hm=8e7cb4fa2472c08a2eea3f35c053c60f307e00f0f4daa26cc0298e3ffb113b6a&=&format=webp&width=1129&height=847");
}
.plant:nth-child(6) .plantImg {
    background-image: url("/images/cuphea.jpg");
}
.plant:nth-child(7) .plantImg {
    background-image: url("/images/amore.jpg");
}
.plant:nth-child(8) .plantImg {
    background-image: url("/images/fuchisa.jpg");
}

.plant:nth-child(9) .plantImg {
    background-image: url("/images/starlightSunbrightFlower.jpg");
}
.plant:nth-child(10) .plantImg {
    background-image: url("/images/bamboo.jpg");
}

.plant:nth-child(11) .plantImg {
    background-image: url("/images/sufinaYellowAndPurple.jpg");
}

.plant:nth-child(12) .plantImg {
    background-image: url("images/brightRedGuranium.webp");
}

.plant:nth-child(13) .plantImg {
    background-image: url("images/yellowPetunia.webp");
    background-position: 60% 10%;
}
.plant:nth-child(14) .plantImg {
    background-image: url("images/whiteGuranium.jpg");
}



footer {
    position: relative;
}

.extraPlantInfo {
    position: fixed;
    z-index: 5;
    width: 80%;
    max-width: 900px;
    left: 10%;
    top: 35%;
    gap: 30px;
    background-color: var(--pakistan-green);
    display: flex;
    font-family: Merriweather;
    padding: 15px;
    border-radius: 10px;
    color: white;
    display: none;
}

.info {
    width: 60%;
}

.info h2 {
    font-style: italic;
}

.plantPortrait {
    width: 200px;
    height: 350px;
    background-image: url("https://younghollywood.com/images/stories/beabadoobee.webp");
    background-size: cover;
}

@media (max-width: 650px) {
    .extraPlantInfo {
        font-size: 0.8rem;
        width: 300px;
        text-align: center;
        left: 30%;
        top: 10%;
        flex-direction: column;
        align-items: center;
    }
    .info {
        width: 100%;
    }

    .info h1 {
        text-align: center;
    }
}